<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>274069287391-9anh6kasun5i4irtqrda37rhpff1psb5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.274069287391-9anh6kasun5i4irtqrda37rhpff1psb5</string>
	<key>API_KEY</key>
	<string>AIzaSyD5mQds7sYUYnjHc5xD-9sqQ6sNTR-YIYM</string>
	<key>GCM_SENDER_ID</key>
	<string>274069287391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Huy.Chillkra</string>
	<key>PROJECT_ID</key>
	<string>chillkra-dc0e4</string>
	<key>STORAGE_BUCKET</key>
	<string>chillkra-dc0e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:274069287391:ios:d7574ed157a529b93ad46a</string>
</dict>
</plist>